.app {
  margin: 0 auto;
  padding: 50px 20px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 4rem;
}

.toggle-container button {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-container button:hover {
  background-color: #ddd;
}

.header {
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #9a9a9a;
  background-color: #fff;
}
